<div id="action-description" style="text-align: center;">
  <h1>Form filling pdf with Syncfusion</h1>
</div>
<div class="control-section">
  <div class="content-wrapper">
    <ejs-pdfviewer (formFieldPropertiesChange)="formFieldPropertiesChange($event)" [enableMagnification]="false"
      [enableNavigationToolbar]="false" [enableToolbar]="false" #pdfviewer id="pdfViewer" [documentPath]='document'
      [enableFormFieldsValidation]=true [showNotificationDialog]="false"
      style="height: 1200px;display:block;"></ejs-pdfviewer>

    <div style="text-align: center;margin:20px">
      <button ejs-button cssClass="e-primary" (click)="onSubmit()">Submit</button>
    </div>

    <div *ngIf="showData" style="text-align: center;margin-bottom: 10px;">{{formData | json}}</div>

  </div>
</div>
